body{
    background-color: darkblue;
    padding: 5rem 15%;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

#main{
    background-color: white;
    border: 0px;
    border-radius: 1rem;
}

h1{
    left: 0;
    right: 0;
    position: absolute;
    align-self: center;
    text-align: center;
    font-size: 3rem;
    color: white;
    z-index: 1;
}

img{
    width: 100%;
    height: 15rem;
    filter: brightness(0.7);
    border-radius: 1rem 1rem 0 0;
}

form{
    padding: 3rem;
}

.user-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.err{
    color: red;
    padding: .25rem 0;
    visibility: hidden;
}

select{
    height: 3rem;
    border: 1px solid blue;
    border-radius: 1rem;
}

select:focus{
    border: 2px solid blue;
    outline: none;
}

fieldset{
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
    border: none;
}

.date-num{
    height: 3rem;
    border: 1px solid blue;
    border-radius: 1rem;
    padding: 0 .5rem;
}

button{
    display: block;
    margin: 2rem auto 0 auto;
    width: 50%;
    height: 3rem;
    background-color: blue;
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    
}

a{
    color: white;
    text-decoration: none;
}

footer{
    margin-top: 5rem;
    text-align: center;
}